<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Courses</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>

<body>

<div th:replace="~{fragments/addside :: addside}"></div>

<div style="margin-left:250px;padding:25px;">

    <!-- Student Management Content -->

</div>



<div th:replace="~{fragments/addside :: addside}"></div>

<div class="main-content">

    <div class="header">

        <h1 class="title">
            📘 Course Management
        </h1>

    </div>

    <div class="table-container">

        <table>

            <thead>

            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Semester</th>
                <th>Department</th>
                <th>Duration</th>

            </tr>

            </thead>

            <tbody>

            <tr th:each="course : ${courses}">

                <td th:text="${course.courseId}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.credits}"></td>
                <td th:text="${course.semester}"></td>
                <td th:text="${course.departments}"></td>
                <td th:text="${course.duration}"></td>

                <td>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>
</body>

</html>