<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Courses</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>

<body>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="main-content">

    <div class="header">

        <h1 class="title">
            📘 Course Management
        </h1>

        <a th:href="@{/admin/courses/add}" class="add-btn">
            + Add Course
        </a>

    </div>

    <div class="table-container">

        <table>

            <thead>
            <tr>
                <th>ID</th>
                <th>Course Name</th>
                <th>Credits</th>
                <th>Semester</th>
                <th>Department</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="course : ${courses}">

                <td th:text="${course.courseId}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.credits}"></td>
                <td th:text="${course.semester}"></td>
                <td th:text="${course.departments}"></td>
                <td th:text="${course.duration}"></td>

                <td class="action-buttons">

                    <a class="edit-btn"
                       th:href="@{'/admin/courses/edit/' + ${course.courseId}}">
                        Edit
                    </a>

                    <a class="delete-btn"
                       th:href="@{'/admin/courses/delete/' + ${course.courseId}}">
                        Delete
                    </a>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>

</html>