<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teachers</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>

<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<div class="main-content">

    <div class="header">

        <h1 class="title">
            👨‍🏫 Teacher Management
        </h1>

        <a th:href="@{/admin/teachers/add}" class="add-btn">
            + Add Teacher
        </a>

    </div>

    <div class="table-container">

        <table>

            <thead>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Qualification</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Specialization</th>
                <th>Actions</th>
            </tr>

            </thead>

            <tbody>

            <tr th:each="teacher : ${teachers}">

                <td th:text="${teacher.teacherId}"></td>
                <td th:text="${teacher.teacherName}"></td>
                <td th:text="${teacher.teacherEmail}"></td>
                <td th:text="${teacher.teacherGender}"></td>
                <td th:text="${teacher.teacherHighestQualifications}"></td>
                <td th:text="${teacher.teacherPhoneNumber}"></td>
                <td th:text="${teacher.teacherAddress}"></td>
                <td th:text="${teacher.teacherSpecializations}"></td>

                <td class="action-buttons">

                    <a class="edit-btn"
                       th:href="@{'/admin/teachers/edit/' + ${teacher.teacherId}}">
                        Edit
                    </a>

                    <a class="delete-btn"
                       th:href="@{'/admin/teachers/delete/' + ${teacher.teacherId}}">
                        Delete
                    </a>

                </td>

            </tr>

            </tbody>

        </table>

    </div>

</div>

</body>
</html>