*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    background:#eef3f9;
}

/* Sidebar */

.sidebar{
    position:fixed;
    left:0;
    top:0;
    width:240px;
    height:100vh;
    background:#243b55;
    padding:25px;
}

.sidebar h1{
    color:white;
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    text-decoration:none;
    color:white;
    background:#34495e;
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
    text-align:center;
}

.sidebar a:hover{
    background:#3498db;
}

/* Right Side */

.main-content{

    margin-left:240px;
    width:calc(100% - 240px);

    padding:30px;

    height:100vh;

    overflow-y:auto;
    overflow-x:hidden;
}

/* Header */

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.title{
    font-size:45px;
    color:#163d6b;
}

.add-btn{
    text-decoration:none;
    background:#2d8ce0;
    color:white;
    padding:15px 28px;
    border-radius:12px;
    font-size:20px;
}

/* Table */

.table-container{

    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}

table{

    width:max-content;
    min-width:1700px;

}

thead{

    background:#344e70;

}

thead th{

    color:white;
    padding:22px;
    white-space:nowrap;

}

tbody td{

    white-space:nowrap;
}

tbody td:nth-child(6){

    white-space:normal;
    min-width:220px;
}

.course{

    background:#dff5ea;
    color:#00a86b;
    padding:8px 18px;
    border-radius:20px;
    font-weight:bold;

}

.edit-btn{

    background:orange;
    color:white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:10px;

}

.delete-btn{

    background:red;
    color:white;
    text-decoration:none;
    padding:10px 20px;
    border-radius:10px;

}
body{

    background:#eef3f9;
}

.main-content{

    margin-left:260px;

    padding:30px;
}